#header {
    border-bottom: thin solid #ddd;
}

.article-preview:after {
    clear: both;
    content: '';
    display: block;
}

.article-preview a img {
    float: left;
    margin-right: 30px;
    margin-bottom: 15px;
}

.cmsplugin_filer_folder_list .image img {
    margin: 15px;
}
